body {
    background-color: #ffffff;
    padding: 20px;
    font-family: Arial;
}

h1 {
    text-align: center;
    margin: 10px;
}

p {
    text-align: center;
    margin: 60px;
}

a {
    margin: 5px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 70px;
    background-color: rgb(169, 169, 169);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
  }
